# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.pyc
venv/
.env
.python-version
jobs.db
chroma.db
combined_workflow_sent/.env
combined_workflow_sent/__pycache__/
combined_workflow_sent/*.zip
combined_workflow_sent/presentation_output/
